
.header {padding: 50px 0 70px 0; 
		margin-bottom: 10px;
         background-image: url('../images/header2.webp');
         background-size: cover; 
         color: #FFF;
         margin-bottom: 50px;
         font-size:20px;
         }

body {background-color: black;}

.one-half.column h4 {font-size: 45px;
}

.one-half.column p {font-size: 17px;
}

img {float:left;
padding-right: 10px;
padding-left: 5px;
}

.six.columns {
	border: 2px solid black;
	padding-top: 5px;
	background-color: #16442a;
	margin-bottom: 20px;
	color: #FFF;
}

.six.columns h4 {font-size: 25px;
				padding-left: 3px;
				padding-right: 2px;
				}

.six.columns p {padding-left: 3px;
				margin-top: 15px;
				font-size: 20px;}

.twelve.columns {margin-top: 5px;
	             text-align: center;
	             font-style: italic;
	             padding-top: 15px;
	             font-size: 15px;
	      		}

.slideshow-header h2 {text-align: center;
				     font-size: 25px;
				     padding-bottom: 10px;}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  max-width: 100%;
  text-align: center;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 50rem;
  color: black;
}

.carousel-caption{text-align: center;
}

.carousel-caption h1 {color: black;}

.carousel-caption p {color: black;}

.carousel-indicators li {
  background-color: #000;
}
.carousel-indicators .active {
  background-color: #000;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  padding-bottom: 55px;
}


/********* Mobile first queries **************/


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
	max-width: 100%;
	text-align: center;}

 .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 42rem;
  padding-bottom: 55px;
} 

.carousel-caption h1 {text-align: center;}
}

.carousel-item {
  height: 50rem;
  max-width: 80%;

}


  }

/************************** Larger than mobile *****************************/
/* @media (min-width: 400px) {
carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 80%;
  height: 42rem;
  padding-bottom: 45px;
}

.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
	max-width: 100%
} */

/**************************** Larger than phablet ***********************/
@media (min-width: 550px) {

}
/************************ DESKTOP Larger than tablet **************************/
/* DO NOT CHANGEEEEEEEEEEEEEEEEEEE */

@media (min-width: 750px) {

}

/**************************** Larger than desktop ***********************************/
@media (min-width: 1000px) {

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 58rem;
  padding-bottom: 39px;
  padding-top: 5px;
}

.carousel-item {
  height: 70rem;
  max-width: 100%;
}

.carousel-caption h1 {text-align: center;}
}

.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
	max-width: 100%;
	padding-top: -20px;
	text-align: center;
}
}
